:root {
	// Main Set
	--color-primary: hsl(15, 40%, 29%);
	--color-secundary: hsl(31, 94%, 67%);
	--color-tertiary: hsl(44, 100%, 73%);
	//Text
	--color-text: hsl(20, 2%, 70%);
	--color-text-dark: hsl(0, 0%, 53%);
	// Background
	--color-primary-background: hsl(38, 100%, 98%);
	--color-secundary-background: hsl(35, 100%, 92%);
	// Cards
	--color-card-primary: hsl(33, 100%, 89%);
	--color-card-secundary: hsl(46, 100%, 89%);
	--color-card-tertiary: hsl(236, 100%, 91%);
	--color-card-quaternary: hsl(3, 93%, 89%);
}
